<h1></h1>
<div class="container" ng-controller="UserController">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" ng-model="UserDetail.username" ng-minlength="5"   id="username"  name="username" placeholder="username" required/><br/>
      <input type="password" ng-model="UserDetail.password" ng-pattern="/a-zA-Z0-9/"   id="password"  name="password" placeholder="password" required/><br/>
       <input type="text" ng-model="UserDetail.emailid"  ng-pattern="/^[0-9]{1,5}$/" id="password"  name="emailid" placeholder="emailid" required/><br/>
        <input type="text" ng-model="UserDetail.memberName"  ng-minlength="7"  id="memberName"  name="membername" placeholder="membername" required/><br/>
      
      <input type="submit" ng-click="register()" class="fadeIn fourth" value="Register">
    </form>

   
  </div>
</div>
</div>